<div style="background-color: LightBlue; width: 300px;">
	<h1>Product 1</h1>
	<p>Id: {{product.id}}</p>
	<p>Name: {{product.name}}</p>
	<button ng-click="addToCart($event)">Add to cart</button>
	<p ng-click="moreDetails($event);template='product-1-more-product-details.html'" style="color: Blue; text-decoration: underline; cursor: pointer;">Click to show more product 1 details.</p>
	<div ng-include src="template"></div>
	<img ng-click="mouseclick($event)" ng-mouseover="mouseover($event)" src="images/product1.png" width="300" height="250"/>
	<p>This is the product1.html Angular partial template.</p>
	<p>Technically it is a <em>partial</em> but we treat it like a <em>page</em> with regards to the digitalData object.</p>
</div>

<script type="text/ng-template" id="product-1-more-product-details.html">
    <div>
		<h2>More product 1 details.</h2>
		<p>This is the product-1-more-product-details.html Angular HTML fragment.</p>
		<p>Technically this is an <em>HTML fragment</em> and we treat it like an <em>event</em> with regards to the digitalData object.</p>
	</div>
</script>